<body>
  <div>
    <div class="sentences">
      <% if @examples %>
        <% @examples.each do |sentence| %>
          <li><%= sentence.sentence %></li>
        <% end %>
      <% end %>
    </div>
  </div>
</body>
